*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 100% equal to 16px */
/* 62.5% equal to 10px */
html {
  //This defines what 1rem is
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
